$blue:#409EFF;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;
$white: #ffffff;
$black: #000000;

$Success:#67C23A;
$Warning:#E6A23C;
$Danger:#F56C6C;
$Info:#909399;
$huise:#606266;


$font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
